@import "tailwindcss";

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/shared/assets/fonts/proximanova_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/shared/assets/fonts/proximanova_bold.otf');
    font-weight: bold;
    font-style: normal;
}

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #111418;

    --color-gray-light: #F0F2F4;
    --color-gray-blue: #7C8591;
    --color-dark-gray-blue: #505965;

    --font-size-28: 28px;
}

html{
    font-family: 'Proxima Nova';
}