@import 'tailwindcss';

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/shared/assets/fonts/proximanova_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/src/shared/assets/fonts/proximanova_bold.otf');
    font-weight: bold;
    font-style: normal;
}

:root{
    --bg-gradient-red-to-orange: linear-gradient(to right, #FD267A, #FF6036);

}

@theme {
    --breakpoint-xs: 320px;
    --breakpoint-s: 380px;



    --color-gray-light: #f0f2f4;
    --color-gray-blue: #7c8591;
    --color-light-gray-blue: #E9EBEE;
    --color-dark-gray-blue: #505965;
    --color-gray-blue-light: #b9bfc8;
    --color-gray-blue-muted: #d4d8de;
    --color-dark-gray-blue-muted: #3C444F;
    --color-steel-gray: #656E7B;
    --color-graphite: #21262E;

    --color-white: #FFFFFF;
    --color-black: #111418;

    --color-bright-red: #FF4458;

    --color-primary: var(--color-white)
    --color-secondary: var(--color-black)

    --animate-superlikeAnimation: superlikeAnimation 2.2s ease-in-out;

    @keyframes superlikeAnimation {
    0% {
        transform: scale(1) translateY(0) rotateY(0deg);
    }
    50% {
        transform: scale(1.2) translateY(-300px) rotateY(180deg); 
    }
    100% {
        transform: scale(1) translateY(0) rotateY(360deg);
    }
}
}

html {
    font-family: 'Proxima Nova';
}

img{
    max-width: fit-content;
}

button, label{
    cursor: pointer;
}

@layer utilities {
    .bg-gradient-red-to-orange {
        @apply bg-gradient-to-r from-[#FD267A] to-[#FF6036];
    }
}

.bg-gray-blue-disabled {
    background-color: var(--color-gray-blue-light);
    color: var(--color-gray-blue-muted);
    cursor: not-allowed;
}
